* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 230px;

    &__mainlogo {
        width: 9.4vw;
        max-width: 150px;
    }

    &__nav {
        gap: 6vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        font-size: 20px;
        color: #1C1C1C;

        &:hover {
            color: #F27E23;
        }

        &_current {
            font-weight: 700;

            &:hover {
                color: #1C1C1C;
            }
        }
    }

    &__contacts {
        margin-top: 18px;
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__adress {
        font-size: 1rem;
        color: #3B3B3B;
    }

    &__number {
        font-size: 21px;
        letter-spacing: 1px;
        color: #1C1C1C;
    }

    &__medias {
        display: flex;
        align-items: center;
        gap: 20px;
    }

}

.top {
    margin-bottom: 60px;
    position: relative;

    &__background {
        width: 100%;
    }

    &__title {
        width: 100%;
        position: absolute;
        top: 40%;
        font-size: 42px;
        font-weight: 700;
        color: #FF9039;
        // font-family: "Roboto Flex", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-family: "Geologica", sans-serif;
        text-align: center;
    }
}

.about {

    &__title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 55px;
        text-align: center;
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
    }

    &__blocks {
        margin-top: 85px;
        margin-bottom: 90px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__block {
        border: 1px solid transparent;
        border-image: linear-gradient(#FF9039, #878787);
        -moz-border-image: -moz-linear-gradient(#FF9039, #878787);
        -webkit-border-image: -webkit-linear-gradient(#FF9039, #878787);
        border-image-slice: 1;

        width: 13.81rem;
        max-width: 221px;
        height: 140px;
        text-align: center;
        padding: 28px 30px;

    }

    &__ol {
        padding-left: 35px;
        padding-top: 25px;
        margin-bottom: 95px;
    }

    &__li {
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 6px;
    }

    .about__block_num {
        font-weight: 700;
        font-size: 36px;
        color: #EA8A3F;
        padding-bottom: 7px;
    }

    .about__block_text {
        font-size: 18px;
        color: #1C1C1C;
    }

    &__imgs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    &__img {
        width: 48%;
        max-width: 561px;
        height: 370px;
    }

    &__button {
        // width: 250px;
        display: inline-block;
        padding: 20px 30px;
        background-color: #F69040;
        color: white;
        font-size: 20px;
        font-weight: 500;
        border-radius: 8px;
        border-color: transparent;
        margin-left: 37%;
        margin-right: 34%;
        margin-bottom: 100px;
        cursor: pointer;

        &:active {
            background-color: #db7528;
        }
    }
}

.advantages {
    &__heading {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 50px;
    }

    &__blocks {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 120px;
    }

    &__block {
        text-align: center;
        width: 300px;
        height: 300px;
        -moz-border-radius: 150px;
        -webkit-border-radius: 150px;
        border-radius: 150px;
        border: 2px solid #eeae7c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__title {
        font-size: 20px;
        color: #1C1C1C;
    }

    &__text {
        font-size: 14px;
        color: #1C1C1C;
        max-width: 222px;
    }
}

.form {

    margin-bottom: 100px;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        position: relative;
    }

    &__car {
        position: absolute;
        left: 23px;
        top: 63px;
    }

    &__body {
        max-width: 510px;
        border: 1px solid #878787;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 21px;
        padding: 27px 25px;
        box-shadow: 1px 1px .4em #878787;
        position: relative;
        background-color: #fff;

    }

    &__body::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.65) url(/img/loading.gif) center / 50px no-repeat;
        border-radius: 20px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease 0s;
    }

    &__body._sending::after {
        opacity: 1;
        visibility: visible;
    }


    &__heading {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.3px;
        padding-bottom: 55px;
        width: 74%;
        margin-left: 13%;
        margin-right: 13%;
    }

    &__title {
        font-size: 22px;
        font-weight: 500;
        text-align: center;

    }

    &__item {
        padding: 0 61px;
    }

    &__input {
        background-color: #EEEEEE;
        border: 1px solid #F69040;
        border-radius: 10px;
        padding: 11px 19px;
        width: 385px;
        color: black;
        font-weight: 500;
    }

    &__input._error {
        box-shadow: 0 0 5px red;
    }

    &__button {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        padding: 12px 25px;
        background-color: #F69040;
        letter-spacing: 1px;
        border-radius: 10px;
        border: 1px solid #F69040;
        cursor: pointer;
        transition: background-color 0.5s ease 0s;
        position: relative;
        top: 0;

        &:hover {
            background-color: #db7528;
            border: 1px solid #db7528;
        }

        &:active {
            top: 2px;
        }
    }
}

.checkbox._error label::before {
    box-shadow: 0 0 5px red;
}

.checkbox {
    cursor: pointer;

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__input+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    &__input+label::before {
        content: "";
        display: inline-block;
        align-self: flex-start;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 1px solid #1C1C1C;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;

    }

    &__input:checked+label::before {
        border-color: #F69040;
        background-color: #F69040;
        background-image: url(/img/check-solid.svg);
    }

    &__label {
        font-size: 14px;
        color: #3B3B3B;
    }
}

footer {
    min-height: 60px;
    background-color: #1C1C1C;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    & span {
        font-size: 15px;
        color: #fff;
    }
}


// services page style 
.services {
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    &__item {
        max-width: 565px;
        width: 48%;
        margin-bottom: 60px;
    }

    &__title {
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 40px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    &__text {
        padding: 20px 10px;
    }

    &__dsc {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 30px;
    }

    &__price {
        font-size: 18px;
        font-weight: 400;
        color: #F27E23;
        text-align: end;
    }
}

.services__content .swiper {
    width: 100%;
    height: 365px;
}

.services__swiper-img {
    width: 100%;
    height: 365px;
    border-radius: 9px;
}

.swiper-button-prev {
    color: #878787;
}

.swiper-button-next {
    color: #878787;
}

// portfolio page style
.swiper-pagination {
    --swiper-theme-color: #878787;
}
.portfolio {
    margin-bottom: 100px;

    &__title {
        text-align: center;
        font-size: 20;
        margin-bottom: 40px;
    }

    &__nav {
        text-align: center;
        margin-bottom: 60px;
        font-size: 18px;
    }

    &__imgs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 65px;
    }

    &__img {
        max-width: 565px;
        border-radius: 5px;
    }

    &__dsc {
        font-size: 18px;
        color: #1C1C1C;
        line-height: 30px;
        letter-spacing: 5;
        padding: 50px 60px;

    }

    &__hr {
        width: 100%;
        margin: 70px 0;
        height: 1px;
    }

    &__imgs-before {
        display: flex;
        justify-content: space-around;
        align-items: center;
        & img {
            height: 365px;
            max-width: 547px;
            width: 100%;
            border-radius: 5px;
        }
    }

    &__video {
        width: 900px;
        height: 450px;
        background-color: #bbbbbb;
        text-align: center;
        margin: 0 auto;
        padding-top: 225px;
    }

    &__imgs-swiper .swiper {
        max-width: 900px;
        height: auto;
    }

    &__swiper-img {
        width: 100%;
    }


}

.feedback {
    background-color: #5e3b8016;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        max-width: 520px;
        margin: 120px 540px;
    }
}


// Contacts page style 

.contact {
    &__box {
        margin-bottom: 110px;
        display: flex;
        justify-content: space-between;

    }

    &__text p {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2;
        line-height: 26px;
        padding-bottom: 20px;
    }
}

// Tablet adaptive
@media (min-width: 767px) and (max-width: 1023px) {
    .padding {
        padding-left: 16px;
        padding-right: 16px;
    }

    .form__left {
        display: none;
    }

    .form__box {
        justify-content: center;
        align-items: center;
    }

    .advantages__blocks {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-bottom: 70px;
    }

    .about__button {
        margin-left: 32%;
        margin-right: 32%;
        font-size: 17px;
    }

    .about__imgs {
        margin-bottom: 70px;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    .about__img {
        width: 100%;
    }

    .about .about__block_text {
        font-size: 16px;
    }

    .about__title {
        font-size: 25px;
    }

    .about__text {
        font-size: 16px;
        line-height: 28px;
    }

    .about__ol {
        margin-bottom: 50px;
    }

    .about__li {
        font-size: 16px;
        line-height: 26px;
    }

    .advantages__heading {
        font-size: 24px;
    }

    .advantages__title {
        font-size: 18px;
    }

    .top__title {
        font-size: 29px;
    }

    .header {
        flex-wrap: wrap;
        justify-content: space-around;
        height: 190px;
    }

    .header__mainlogo {
        width: 100px;
    }

    .header__adress {
        padding-left: 16px;
    }

    .header__contacts {
        margin: 0;
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__number {
        font-size: 18px;
    }

    .header__adress {
        font-size: 14px;
    }
}

// Mobile adaptive
@media (max-width: 767px) {
    .padding {
        padding-left: 8px;
        padding-right: 8px;
    }


    .top {
        display: none;
    }

    .form__left {
        display: none;
    }

    .form__box {
        justify-content: center;
        align-items: center;
        width: 99%;

    }

    .form__item {
        padding: 0 0;
    }

    .checkbox__label {
        font-size: 12px;
    }

    .checkbox__input+label::before {
        background-size: 60% 60%;
    }

    .form__title {
        font-size: 15px;
    }

    .form {
        margin-bottom: 40px;
    }

    .form__body {
        width: 100%;
        max-width: 415px;
        gap: 13px;
        padding: 23px 10px;
    }

    .form__input {
        width: 80vw;
        max-width: 295px;
        padding: 10px 15px;
    }

    .form__heading {
        font-size: 14px;
        letter-spacing: 0;
        width: 100%;
        margin: 0 auto;
    }

    .form__button {
        letter-spacing: 0;
        font-size: 14px;
    }

    .footer {
        max-height: 40px;

        & span {
            font-size: 12px;
        }
    }

    .about__blocks {
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        margin: 40px 0;
    }

    .advantages__blocks {
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        margin-bottom: 50px;
    }

    .about__button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        min-width: 200px;
        padding: 16px 11px;
        margin: 20px auto;
    }

    .about__imgs {
        margin-bottom: 70px;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    .about__img {
        width: 100%;
        height: auto;
    }

    .about .about__block_text {
        font-size: 14px;
    }

    .about__title {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .about__text {
        font-size: 14px;
        line-height: 26px;
    }

    .about__ol {
        margin-bottom: 50px;
    }

    .about__li {
        font-size: 14px;
        line-height: 24px;
    }

    .advantages__block {
        text-align: center;
        width: 250px;
        height: 250px;
        border-radius: 125px;
        gap: 10px;
    }

    .advantages__heading {
        font-size: 18px;
        margin-top: 60px;
    }

    .advantages__title {
        font-size: 16px;
    }

    .advantages__text {
        max-width: 188px;
    }

    .top__title {
        font-size: 29px;
    }

    .header {
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        height: 160px;
    }

    .header__mainlogo {
        width: 100px;
    }

    .header__nav {
        gap: 5px;
        width: 95%;
        margin-bottom: 20px;
    }

    .header__adress {
        display: none;
    }

    .header__link {
        font-size: 16px;
    }

    .header__contacts {
        visibility: hidden;
        position: absolute;
        left: -99999999px;
    }

    .header__number {
        font-size: 18px;
    }

    .header__adress {
        font-size: 14px;
    }

}